body {
  color: #6c6c6c;
  background: #E0E0E0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
  padding: .5em 0;
  background: #FF5252;
}

h1 {
  margin: .1em;
  color: #FAFAFA;
  font-family: "Bungee", cursive;
  font-size: 60px;
  font-weight: normal;
}

form {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  color: #6c6c6c;
  overflow: hidden;
  border-radius: 3px;
  background-color: #F5F5F5;
}

form .size-wrap {
  display: inline-block;
}

form .size-wrap h2 {
  margin: 0 0 10px;
  font-weight: normal;
}

label {
  display: inline-block;
  margin: 1em 0 .25em;
  font-size: 40px;
}

table, td, tr {
  border: 1px solid #808080;
  background: #fff;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  min-width: 20px;
  height: 20px;
}

input[type='number'] {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: inline-block;
  width: 2.5em;
  padding-left: .2em;
  border: 0;
  border-radius: 3px;
}

input[type='submit'] {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  float: right;
  margin-top: 3px;
  padding: 15px;
  color: #FAFAFA;
  border: 0;
  border-radius: 3px;
  background-color: #03A9F4;
  text-align: center;
  font-family: "Bungee", cursive;
  font-size: 20px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

input[type='submit']:focus {
  background-color: #0398db;
  outline: 0;
}

input[type='submit']:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type='color'] {
  width: 35px;
  height: 35px;
  opacity: 0;
  border: 0;
  cursor: pointer;
}

.color-tile {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0 15px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background-color: #03A9F4;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.color-tile:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}