body {
  color: #6c6c6c;
  background: #e0e0e0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header {
  /**
   * A mixin which helps you to add depth to elements according to the Google Material Design spec:
   * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
   *
   * Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
   * Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
   */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
  padding: 0.5em 0;
  background: #ff5252;
}

header h1 {
  margin: 0;
  color: #fafafa;
  font-weight: normal;
  font-size: 60px;
  font-family: "Bungee", cursive;
}

form {
  /**
   * A mixin which helps you to add depth to elements according to the Google Material Design spec:
   * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
   *
   * Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
   * Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
   */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  user-select: none;
  max-width: 510px;
  margin: 0 auto;
  padding: 10px;
  color: #6c6c6c;
  overflow: hidden;
  border-radius: 3px;
  background-color: #f5f5f5;
}

form .size-wrap {
  display: inline-block;
}

form .size-wrap h2 {
  /**
   * A mixin which helps you to add depth to elements according to the Google Material Design spec:
   * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
   *
   * Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
   * Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
   */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fafafa;
  background-color: #424242;
  font-weight: normal;
  font-size: 24px;
  font-family: "Bungee", cursive;
  margin: 0 0 10px;
}

.toolbar {
  /**
   * A mixin which helps you to add depth to elements according to the Google Material Design spec:
   * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
   *
   * Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
   * Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
   */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: normal;
  font-size: 12px;
  font-family: "Bungee", cursive;
  color: #fafafa;
  user-select: none;
  display: inline-block;
  text-align: center;
  background-color: #424242;
  padding: 3px 10px 5px;
  margin: 0 auto;
  height: auto;
  width: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.toolbar .section {
  display: inline-block;
}

.toolbar .section h3 {
  color: #424242;
  background-color: #f5f5f5;
  font-weight: normal;
  font-size: 13px;
  font-family: "Bungee", cursive;
  padding: 2px 3px 0;
  margin: 5px auto 0;
  border-radius: 4px;
}

.toolbar .tool-divider {
  display: inline-block;
  width: 1px;
  height: 48px;
  background-color: rgba(250, 250, 250, 0.2);
  margin: 0 6px;
}

.color-tile {
  cursor: pointer;
  min-width: 100px;
  margin: 0 10px -5px 0;
  display: inline-block;
  height: 25px;
  border-radius: 4px;
  background-color: #03a9f4;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tile {
  margin: 0;
  font-size: 20px;
  display: inline-block;
  width: 25px;
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tile:hover {
  color: #ffae6c;
}

.wider {
  width: 44px;
  font-size: 18px;
}

input[type="number"] {
  /**
   * A mixin which helps you to add depth to elements according to the Google Material Design spec:
   * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
   *
   * Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
   * Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
   */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: inline-block;
  width: 2.5em;
  padding-left: 0.2em;
  border: 0;
  border-radius: 3px;
}

input[type="color"] {
  display: none;
}

input[type="radio"] {
  display: none;
}

input:checked + label {
  box-shadow: inset 0 0 2px #853c00;
  color: #424242;
  background-color: #ffa052;
}

input:checked + label:hover {
  color: #424242;
}

.button {
  /**
   * A mixin which helps you to add depth to elements according to the Google Material Design spec:
   * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
   *
   * Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
   * Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
   */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  float: right;
  margin-top: 3px;
  margin-left: 10px;
  padding: 15px;
  color: #fafafa;
  border: 0;
  border-radius: 3px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  font-family: "Bungee", cursive;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.button:hover {
  /**
   * A mixin which helps you to add depth to elements according to the Google Material Design spec:
   * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
   *
   * Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
   * Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
   */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.blue-button {
  background-color: #03a9f4;
}

.blue-button:focus {
  background-color: #0398db;
  outline: 0;
}

.green-button {
  background-color: #64db64;
}

.green-button:focus {
  background-color: #4fd64f;
  outline: 0;
}

table,
td,
tr {
  box-sizing: border-box;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  border: 1px solid #808080;
  background: #fff;
  min-width: 20px;
  height: 20px;
}
